// Container definitions for processes
process {
    withName: "GET_PROTEOME|CHECK_DECOYS_CONTAMS" {
        container = "docker.io/fcyucn/fragpipe:24.0"
    }

    withName: "RAWBEANS_QC|RAWBEANS_QC_ALL" {
        container = "quay.io/torres-alexis/rawbeans:1.6.4"
    }

    withName: "FRAGPIPE" {
        container = "fcyucn/fragpipe:24.0"
    }

    withName: "GET_ACCESSIONS|FETCH_ISA|RUNSHEET_TO_FP_METADATA|ISA_TO_RUNSHEET|FRAGPIPE_CONFIG_SETUP|SOFTWARE_VERSIONS" {
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }

    withName: 'PMULTIQC' {
        container = 'quay.io/biocontainers/pmultiqc:0.0.40--pyhdfd78af_0'
    }

    withName: 'FP_ANALYST' {
        container = "quay.io/torres-alexis/fpar:1.1.1"
    }

    withName: 'MSSTATS' {
        container = "quay.io/biocontainers/bioconductor-msstats:4.18.1--r45ha27e39d_0"
    }
}
