// Config that specifies packaged conda yml files for each process

//quay.io/biocontainers/proteowizard:3.0.9992
process {

     withName: 'GET_ACCESSIONS' {
         container = "quay.io/nasa_genelab/dp_tools:1.3.8"
     }


     withName: 'RAWBEANS_QC|RAWBEANS_QC_ALL' {
         container = "quay.io/torres-alexis/rawbeans:1.6.4"
     }

     withName: 'OPENMS_FILEINFO' {
         container = "quay.io/biocontainers/openms:3.4.1--h81ffffe_1"
     }

     withName: 'MSFRAGGER' {
         container = "quay.io/biocontainers/msfragger:4.2--py311hdfd78af_0"
     }
     withName: 'COMET_SEARCH' {
         container = "quay.io/biocontainers/comet-ms:2016013--h9948957_7"
     }
    withName: 'MSFRAGGER_CONFIG' {
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }
    withName: 'CRYSTAL_C_CONFIG' {
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }
     
    withName: 'GET_PROTEOME|PHILOSOPHER' {
        container = "docker.io/fcyucn/fragpipe:23.1"
    }
    
    withName: 'IONQUANT' {
        container = "quay.io/biocontainers/ionquant:1.11.9--py311hdfd78af_0"
    }
    
    withName: 'CRYSTAL_C' {
        container = "docker.io/fcyucn/fragpipe:23.1"
    }
    
    withName: 'MSSTATS' {
        container = "quay.io/biocontainers/bioconductor-msstats:4.14.0--r44he5774e6_0"
    }
     
}