// Container definitions for processes
process {
    withName: "GET_PROTEOME" {
        container = "docker.io/fcyucn/fragpipe:23.1"
    }
    
    withName: "RAWBEANS_QC" {
        container = "quay.io/torres-alexis/rawbeans:1.6.4"
    }
    
    withName: "RAWBEANS_QC_ALL" {
        container = "quay.io/torres-alexis/rawbeans:1.6.4"
    }
    
    withName: "RAW_READS_PMULTIQC" {
        container = "quay.io/biocontainers/pmultiqc:0.0.39--pyhdfd78af_0"
    }
    
    withName: "FRAGPIPE" {
        container = "fcyucn/fragpipe:23.1"
    }

    withName: "RUNSHEET_TO_MANIFEST|WORKFLOW_CONFIG_TO_JSON" {
        container = "quay.io/nasa_genelab/dp_tools:1.3.8"
    }
    
    withName: 'PMULTIQC' {
        container = 'quay.io/biocontainers/pmultiqc:0.0.40--pyhdfd78af_0'
    }
}

