/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing RNA-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Config file for local executor
----------------------------------------------------------------------------------------
*/

process {

    executor='local' 
    cpus   = { 2      * task.attempt } // Default
    memory = { 2.GB   * task.attempt } // Default

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withName:'GET_ACCESSIONS' {
        cpus   = { 1    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
}

executor { // entire executor scope parameters. I.E. parameters that define how an entire executor should operate
    // Refers to jobs launched via the slurm executor 
    $local {
        queueSize = 12
    }
}
