/*
----------------------------------------------------------------------------------------
    GeneLab Data Processing RNA-Seq Workflow Nextflow config file
----------------------------------------------------------------------------------------
    Config file for slurm executor / HPC use
----------------------------------------------------------------------------------------
*/

process {

    executor='slurm' // run using slurm backend (unless a process specifies otherwise), Nextflow will generate the sbatch script and submit for you
    cpus   = { 1      * task.attempt } // Default
    memory = { 2.GB   * task.attempt } // Default

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    cache = 'lenient'

    // https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withName:'GET_ACCESSIONS' {
        cpus   = { 1    * task.attempt }
        memory = { 2.GB * task.attempt }
    }
}

// https://www.nextflow.io/docs/latest/reference/config.html 
executor {
    $slurm {
        queueSize = 32               // Set maximum queueSize
        pollInterval = '1 min'       // Set the time interval between process termination detection polling; default 5 sec
        queueStatInterval = '2 min'  // Set the time interval between queue status checks; default 1 min
        submitRateLimit = '1 sec'  // Set the job submission rate limit (1 per second); default unlimited
    }
}
